body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.navbar {
    background-color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #1e90ff;
}

.logo span {
    color: black;
}

.menu a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.btn {
    padding: 6px 12px;
    border: 1px solid #1e90ff;
    border-radius: 4px;
}

.register {
    background-color: #1e90ff;
    color: white;
}


.main {
    background-color: #0b3c7d;
    color: white;
    padding: 60px 40px;
    display: flex;
    justify-content: space-between;
}

.left {
    width: 50%;
}

.left h1 {
    font-size: 40px;
}

.left h1 span {
    color: #ffcc00;
}

.left p {
    font-size: 16px;
}

.signup-box {
    margin-top: 30px;
}

.signup-box button {
    display: block;
    width: 250px;
    padding: 12px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.google {
    background-color: white;
    color: black;
    border: 1px solid #ccc;   
}

.email {
    background-color: #1e90ff;
    color: white;
}

.terms {
    font-size: 12px;
    margin-top: 10px;
}


.right img {
    width: 350px;
}


.companies {
    background-color: #083066;
    color: white;
    text-align: center;
    padding: 20px;
}

.trending {
    padding: 40px;
    background-color: white;
}

.trending h2 {
    margin-bottom: 20px;
    color: #333;
}

.trend-items {
    display: flex;
    gap: 15px;
}

.trend-box {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 4px;
    font-size: 14px;
    width: 200px;
    text-align: center;
}

